[submodule "addons/escoria-core"]
	path = addons/escoria-core
	url = https://github.com/godot-escoria/escoria-core
[submodule "addons/escoria-ui-simplemouse"]
	path = addons/escoria-ui-simplemouse
	url = https://github.com/godot-escoria/escoria-ui-simplemouse
[submodule "addons/escoria-dialog-simple"]
	path = addons/escoria-dialog-simple
	url = https://github.com/godot-escoria/escoria-dialog-simple
[submodule "addons/escoria-ui-keyboard-9verbs"]
	path = addons/escoria-ui-keyboard-9verbs
	url = https://github.com/godot-escoria/escoria-ui-keyboard-9verbs
